{
    "extends": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": 0,
        "linebreak-style": 0,
        "indent": [
            "error",
            4
        ]
    },
    "plugins": [
        "prettier"
    ]
}